<div id="banner">
  <img class="site-portrait" src="/portrait.png">
  <div class="name-description">
    <h1 class="site-name"><a href="/">{{ site.Title }}</a></h1>
    <h2 class="site-description">Programmer, Designer, <br />Perpetual Traveler</h2>
  </div>
</div>

<!-- Full Sized Menu -->
<div id="full-menu">
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>

<!-- Mobile Menu -->
<div id="mobile-menu">
  <input type="checkbox" id="menuToggle"></input>

  <label for="menuToggle" class="menuOpen">
    <div class="open"></div>
  </label>

  <div class="menu menuEffects">
    <label for="menuToggle"></label>
    <div class="menuContent">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
  </div>
</div>
