{{ define "main" }}
  <!--<h1>{{ .Title }}</h1>-->

  {{ if eq .Params.custom_title_enabled true }}
    <!--<h2>{{ .Params.custom_title_value }}</h2>-->
  {{ else }}
    <!--<h2>{{ .Title }}</h2>-->
  {{ end }}


  {{/* Comment out date -- will need it for posts
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  */}}

  {{ $content := .Content }}
  {{/* Inject globe coordinates */}}
  {{ if and .Params.latitude .Params.longitude }}
    {{ $content = replace $content `<div id="globeViz"></div>` (printf `<div id="globeViz" data-latitude="%.6f" data-longitude="%.6f"></div>` .Params.latitude .Params.longitude) }}
  {{ end }}
  {{ $content | safeHTML }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}

