//----------------------------
// File: _base.scss
// Description: 
//----------------------------

// Global body style
body {
  width: 100%;
  margin: 0;
  padding: 0;

  // Red border at top of site
  border-top: 6px solid #8D0001;
  
  // Default Site Colors
  color: #EFEDEA;
  background-color: #202B33;

  // Default Font Settings
  font-family: Magdelin;
  font-size: 20px;
  line-height: 1.45;
}

// Base Typography
// ----------------

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.home-section-title {
  font-size: 26px;
}

.page-title {
  font-size: 36px;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 36px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 29px;
  margin-top: 15px;
  margin-bottom: 4px;
}

h3 {
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 8px;
}

h4 {
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 8px;
}

p {
  margin: 0 0 17px 0;
  max-width: 30em;
}

em {
  font-style: italic;
}

blockquote {
  max-width: 600px;
}

a {
  color: $white;
  text-decoration: underline;
}

ul {
  padding-left: 20px;
  list-style-type: square;

  li {
    padding-bottom: 4px;
  }
}

strong {
  font-weight: 600;
}

